.date-time {
  grid-area: date-time;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 165px;
  grid-column-gap: 16px;
}
.date-time__datepiker {
  display: block;
  width: 100%;
  height: 38px;
  margin-top: 4px;
  padding: 0 26px 0 10px;
  box-sizing: border-box;
  border: 2px solid #E9ECEF;
  border-radius: 4px;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  display: block !important;
}
.date-time__datepiker:focus{
  border-color: #007DFF;
  outline: none; 
}
.DatePicker-wrap {
  position: relative;
}
.calendar {
  position: absolute;
  top: calc(50% - 6px);
  right: 12px;
  background: #AFB4B8;
  color: #AFB4B8;
  z-index: 1
}
.time-start, .time-end {
  display: inline-block;
  width: 72px;
}
.time-end {
  float: right;
}