.room {
  margin: 4px 0;
  padding: 4px 0;
}
.room__title{
  margin-bottom: 2px;
  font-family: "HelveticaMedium";
  font-size: 15px;
  line-height: 17px;
}
.room__capacity{
  font-family: "HelveticaNeue";
  font-size: 13px;  
  line-height: 17px;
}
.room__title_disabled {
  color: #858E98;
}