.tooltip {
  width: 338px;
  height: 120px;

  padding: 16px;
  
  position: absolute;
  z-index: 10;
  top: 28px;
  left: calc(-169px + 50%);

  box-sizing: border-box;
  box-shadow: 0 1px 16px 0;
  border-radius: 8px;

  background-color: #FFFFFF;
}
.tooltip:before, .tooltip:after {
  content: ''; 
  position: absolute;
  left: calc(50% - 10px); top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
}
.hidden {
  display: none;
}

.tooltip__event-title {
  font-family: "HelveticaBold";
  font-size: 15px;
}
.tooltip__event-info, .tooltip__event-members {
  font-family: "HelveticaNeue";
  font-size: 13px;
}
.tooltip__event-members {
  
}
